<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetColor</servlet-name>
        <servlet-class>servlets.GetColor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAge</servlet-name>
        <servlet-class>servlets.GetAge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPIN</servlet-name>
        <servlet-class>servlets.GetPIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSNILS</servlet-name>
        <servlet-class>servlets.GetSNILS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetZvanie</servlet-name>
        <servlet-class>servlets.GetZvanie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ip</servlet-name>
        <servlet-class>servlets.GetIp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTime</servlet-name>
        <servlet-class>servlets.GetTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLanguage</servlet-name>
        <servlet-class>servlets.GetLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastName</servlet-name>
        <servlet-class>servlets.GetLastName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetName</servlet-name>
        <servlet-class>servlets.GetName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPatronymic</servlet-name>
        <servlet-class>GetPatronymic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFIO</servlet-name>
        <servlet-class>servlets.GetFIO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccount</servlet-name>
        <servlet-class>servlets.GetAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBankName</servlet-name>
        <servlet-class>servlets.GetBankName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaritalStatus</servlet-name>
        <servlet-class>servlets.GetMaritalStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRelationDegree</servlet-name>
        <servlet-class>servlets.GetRelationDegree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCity</servlet-name>
        <servlet-class>servlets.GetCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStreetType</servlet-name>
        <servlet-class>servlets.GetStreetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetINN</servlet-name>
        <servlet-class>servlets.GetINN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegion</servlet-name>
        <servlet-class>servlets.GetRegion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetColor</servlet-name>
        <url-pattern>/GetColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAge</servlet-name>
        <url-pattern>/GetAge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetZvanie</servlet-name>
        <url-pattern>/GetZvanie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ip</servlet-name>
        <url-pattern>/GetIp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTime</servlet-name>
        <url-pattern>/GetTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLanguage</servlet-name>
        <url-pattern>/GetLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPIN</servlet-name>
        <url-pattern>/GetPIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSNILS</servlet-name>
        <url-pattern>/GetSNILS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastName</servlet-name>
        <url-pattern>/GetLastName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetName</servlet-name>
        <url-pattern>/GetName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPatronymic</servlet-name>
        <url-pattern>/GetPatronymic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFIO</servlet-name>
        <url-pattern>/GetFIO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccount</servlet-name>
        <url-pattern>/GetAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBankName</servlet-name>
        <url-pattern>/GetBankName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaritalStatus</servlet-name>
        <url-pattern>/GetMaritalStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRelationDegree</servlet-name>
        <url-pattern>/GetRelationDegree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCity</servlet-name>
        <url-pattern>/GetCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStreetType</servlet-name>
        <url-pattern>/GetStreetType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetINN</servlet-name>
        <url-pattern>/GetINN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegion</servlet-name>
        <url-pattern>/GetRegion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
